-r requirements_base.txt
https://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@raw.githubusercontent.com/VntgCorp/vntg-wdk-api/main/packages/vntg.wdk.core.api-1.1.4.tar.gz
https://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@raw.githubusercontent.com/VntgCorp/vntg-wdk-api/main/packages/vntg.wdk.common.api-1.1.4.tar.gz
https://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@raw.githubusercontent.com/VntgCorp/vntg-wdk-api/main/packages/vntg.wdk.comm.api-1.1.4.tar.gz
https://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@raw.githubusercontent.com/VntgCorp/vntg-wdk-api/main/packages/vntg.wdk.attach.api-1.1.4.tar.gz
https://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@raw.githubusercontent.com/VntgCorp/vntg-wdk-api/main/packages/vntg.wdk.mail.api-1.1.4.tar.gz
https://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@raw.githubusercontent.com/VntgCorp/vntg-wdk-api/main/packages/vntg.wdk.report.api-1.1.4.tar.gz
https://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@raw.githubusercontent.com/VntgCorp/vntg-wdk-api/main/packages/vntg.wdk.todo.api-1.1.4.tar.gz
https://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@raw.githubusercontent.com/VntgCorp/vntg-wdk-api/main/packages/vntg.wdk.approval.api-1.1.4.tar.gz